- if user_signed_in?
  - if product.like_user(product.id,current_user.id)
    .favoriteDelete
      =link_to favorite_path(product), method: "DELETE", remote: true, class: "favoriteDelete__box" do
        %i.fa.fa-star
        .favD お気に入り
        /= favorites.length
  - else
    .favoritePost
      =link_to favorites_path(product), method: "POST", remote: true, class: "favoritePost__box" do
        %i.fa.fa-star
        .favP お気に入り
        /= favorites.length

-else
  .favoritePost
    %i.fa.fa-star
    .favP お気に入り
    /= favorites.length