- if user_signed_in?
  - if product.like_user(product.id,current_user.id)
    .favoriteDelete
      =link_to favorite_path(product), method: "DELETE", remote: true, class: "favoriteDelete__box" do
        %i.fa.fa-star
        .favD お気に入り
  - else
    .favoritePost
      %i.fa.fa-star
      = form_with(model:favorite,local:true,url:"/favorites") do |f|
        = f.hidden_field :product_id,value:product.id
        = f.submit "お気に入り", class: "favoritePost__box"

-else
  .favoritePost
    %i.fa.fa-star
    .favP お気に入り