.favoriteHeader 
  - breadcrumb :favorites
  = render "products/shared/header"
%main.contents.clearfix
  .contents__leftContent
    = render "users/user_menu_bar"
  .contents__rightContent
    .favoritesIndex
      .menu
        %h1 お気に入り
      .index
        %h2 お気に入り一覧
      .favorite
        = render partial:"favoriteIndex",collection:@favorites,as:"favorite"


