%section.banner
  .bannerInner
    %h2.bannerInner__title
      だれでも簡単、人生を変えるフリマアプリ
    %p.bannerInner__text
      今すぐ無料ダウンロード
    -# Appstore gooogleplay ロゴ用
    = render "products/shared/downloadLogo"