.floatIcon
  .catIcon
    .catIcon__beard
      .catIcon__topBeard
      .catIcon__centerBeard
      .catIcon__bottomBeard
    .catIcon__face
      = link_to new_product_path do
        .catIcon__face__ear
          .leftEar
          .rightEar
        .catIcon__links
          %p 出品
          =image_tag "material/icon/icon_camera.png"