.block__in-box__icon
  = link_to "#", class: "in-box__icon" do
    = image_tag 'material/logo/app-store-apple.svg',class: "appBtn"
  = link_to "#", class: "in-box__icon" do
    = image_tag 'material/logo/google-play-badge.png',class: "googleBtn"
