%section.feature
  %h1.featureTitle
    FURIMAが選ばれる3つの理由
  %ul.featureLists
    %li.featureList
      = image_tag asset_path("material/pict/pict-reason-02.jpg"), class: "featureList__image"
      .featureList__number 
        1
      .featureList__text
        .textGreen
          3分
          %span.textBlack
            ですぐに出品
      %p.featureList__explain
        スマホで入力するだけで簡単に出品できる！
    %li.featureList
      = image_tag asset_path("material/pict/pict-reason-02.jpg"), class: "featureList__image"
      .featureList__number 
        2
      .featureList__text
        .textGreen
          シンプル
          %span.textBlack
            で使いやすい
      %p.featureList__explain
        めんどくさい入力は必要なく、検索も購入もスムーズ！
    %li.featureList
      = image_tag asset_path("material/pict/pict-reason-02.jpg"), class: "featureList__image"
      .featureList__number 
        3
      .featureList__text
        .textGreen
          手数料
          %span.textBlack
            業界最安
      %p.featureList__explain
        最大3%でお得に出品&購入！