%section.spotlight
  %h2.headTitle
    FURIMAの特徴
  .spotlightItems
    .itemsList
      %figure.spotlightImages
        = image_tag asset_path("material/icon/icon-01.png"), class: "spotlightImages__image"
      %h3.itemsList__subtitle
        簡単に売り買いできる
      %p.itemsList__detail
        スマホ１つで、いつでもどこでも簡単に出品、購入が可能！
    .itemsList
      %figure.spotlightImages
        = image_tag asset_path("material/icon/icon-03.png"), class: "spotlightImages__image"
      %h3.itemsList__subtitle
        売上金は即日振り込みに対応
      %p.itemsList__detail
        午前9時までに振込を依頼いただければ、翌日に指定の口座に入金いたします!
    .itemsList
      %figure.spotlightImages
        = image_tag asset_path("material/icon/icon-04.png"), class: "spotlightImages__image"
      %h3.itemsList__subtitle
        様々な支払いに対応
      %p.itemsList__detail
        お支払いは、クレジットカードだけでなく、ポイントや売上金など多彩な方法があります。 