.topics
  .topics__inBox
    .topicsTitle
      会員数日本一位
    .topicsText
      .topicsText-1
        FURIMAは、フリマアプリで最も人気。
      .topicsText-2
        出品・購入回数も業界最多です！
      .topicsText-3
        欲しかったあの商品に出会えるかもしれません。
    -# Appstore gooogleplay ロゴ用
    = render "products/shared/downloadLogo"