.pickupBrand {
  background-color: #f8f8f8;
  padding: 80px 0px;
  height: 100%;
  &__title {
    text-align: center;
    font-size: 28px;
    line-height: 1.4;
    font-weight: bold;
  }
  &__post {
    text-align: center;
  }
}
.listBtn-green {
  font-size: 28px;
  line-height: 1.4;
  font-weight: bold;
  text-decoration: none;
  color: #3ccace;
}

.brandLists {
  width: 780px;
  margin: 26px auto;
  display: flex;
  justify-content: space-around;
  &__list {
    width: 220px;
    margin: 0 auto;
  }
}

.listBtn {
  text-decoration: none;
  display: inline-block;
  background-color: white;
  color: black;
}

.listBtn:hover {
  opacity: 0.5;
}

.listImages {
  width: 220px;
  height: 150px;
  position: relative;
  overflow: hidden;
  margin: 0;
  .newImage {
    text-decoration: none;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: auto;
    height: 150px;
  }
}

.productBody {
  padding: 16px;
  &__name {
    overflow: hidden;
    line-height: 1.5;
    font-size: 16px;
    text-align: left;
  }
  &__menu {
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__taxIn {
    font-size: 10px;
    text-align: left;
  }
}
