.creditsNew {
  margin: 0;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  .creditsNewHeader {
    height: 150px;
    background-color: rgba($color: #ebe7e7be, $alpha: 1);
    img {
      display: block;
      margin: 0 auto;
      padding: 50px;
      width: 300px;
    }
  }
  .layout {
    display: flex;
    flex: 1;
    &__left {
      width: 400px;
      background-color: rgba($color: #ebe7e7be, $alpha: 1);
    }
    &__center {
      flex: 1;
      font-size: 15px;
      .center__content {
        width: 360px;
        height: 550px;
        margin: 0 auto;
      }
    }
    .creditsInformation_input {
      font-size: 22px;
      font-weight: bold;
      text-align: center;
      padding: 20px;
      border-bottom: 2px solid #ebe7e7be;
    }
  }
}
.creditsNew__form {
  width: 340px;
  padding-top: 20px;
  margin-top: 20px;
  .creditsNew__label {
    height: 30px;
    width: 50px;
    font-weight: bold;
  }
  .creditsNew__required {
    background-color: rgba($color: #E91212, $alpha: 1);
    color: rgba($color: white, $alpha: 1);
    text-align: center;
    border-radius: 5px;
    padding: 5px;
  }
  &__defalt {
    width: 340px;
    height: 40px;
    border: 2px solid #ebe7e7be;
    border-radius: 5px;
    padding-left: 10px;
    margin-top: 10px;
  }
  &__half {
    width: 100px;
    height: 40px;
    border: 2px solid #ebe7e7be;
    border-radius: 5px;
    padding-left: 10px;
    background-color: white;
    margin-top: 10px;
  }
  &__btn {
    display: block;
    width: 340px;
    height: 40px;
    border: 2px solid #3CCACE;
    background-color: #3CCACE;
    border-radius: 5px;
    line-height: 35px;
    text-align: center;
    font-size: 20px;
    color: white;
    text-decoration: none;
  }
}
.layout__right {
  width: 400px;
  background-color: rgba($color: #ebe7e7be, $alpha: 1);
}
.creditsNewfooter {
  height: 150px;
  background-color: rgba($color: #ebe7e7be, $alpha: 1);
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    margin: Ôºê auto;
    padding: 0px;
    width: 200px;
  }
}
#error_explanation {
  margin: 10px 0px 30px;
  color: red;
  text-align: center;
}