@import "usersShow/contents";

.favoritesIndex {
  height: 100%;
  margin: 0 auto;
  width: 700px;
  background-color: white;
  align-items: center;
  
  .menu {
    height: 110px;
    text-align: center;
    border-bottom: 1px solid;
    border-color: rgba($color: #ebe7e7be, $alpha: 1.0);
    h1 {
      font-size: 30px;
      font-weight: bold;
      line-height: 110px;
    }
  }
  
  .index {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid;
    border-color: rgba($color: #ebe7e7be, $alpha: 1.0);
    h2 {
      font-size: 20px;
    }
  }
  
  .favorite {
    
    &__box {
      width: 100%;
      padding-left: 140px;
      display: flex;
      padding: 10px 0 10px 140;
      height: 140px;
      &__show{
        width: 68%;
        padding: 20px 0;
        display: flex;
      }
      &__box{
        display: flex;
        height: 100px;
      }
      &__img{
        width: 100px;
        height: 100px;
        img{
          width: 100px;
          height: auto;
          max-height: 100px;
        }
      }
      &__text{
        line-height: 100px;
        a{
          font-weight: bold;
        }
        a:hover{
          color: #3CCACE;
        }
      }
      &__delete {
        width: 38%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      &__btn {
        height: 40px;
        width: 65px;
        border-radius: 3px;
        color: white;
        background-color: rgb(240, 51, 51);
        font-size: large;
      }
    }
  }
}


