.usersNew {
  margin: 0;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.usersNewHeader {
  height: 150px;
  background-color: rgba($color: #ebe7e7be, $alpha: 1);
  img {
    display: block;
    margin: 0 auto;
    padding: 50px;
    width: 300px;
  }
}

.layout {
  display: flex;
  flex: 1;
  h1 {
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    padding: 20px;
    border-bottom: 2px solid #ebe7e7be;
  }
  &__center {
    flex: 1;
    font-size: 15px;
    .center__content {
      width: 360px;
      height: 750px;
      margin: 0 auto;
    }
  }
  &__left {
    width: 400px;
    background-color: rgba($color: #ebe7e7be, $alpha: 1);
  }
  &__right {
    width: 400px;
    background-color: rgba($color: #ebe7e7be, $alpha: 1);
  }
}
.usersNewWrapper {
  padding-left: 10px;
}

.sign__label {
  width: 340px;
  padding-top: 20px;
  &__head {
    height: 30px;
    width: 50px;
    font-weight: bold;
  }
  &__required {
    background-color: rgba($color: #e91212, $alpha: 1);
    color: rgba($color: white, $alpha: 1);
    text-align: center;
    border-radius: 5px;
    padding: 5px;
  }
}

.usersNewform {
  height: 50px;
  width: 340px;
  padding-top: 10px;
  display: flex;
  &__defalt {
    width: 340px;
    height: 40px;
    border: 2px solid #ebe7e7be;
    border-radius: 5px;
    padding-left: 10px;
  }
  &__half {
    width: 170px;
    height: 40px;
    border: 2px solid #ebe7e7be;
    border-radius: 5px;
    padding-left: 10px;
  }
}

.select__form {
  height: 40px;
  width: 340px;
  padding-top: 10px;
  display: flex;
  select {
    width: 70px;
    height: 40px;
    border: 2px solid #ebe7e7be;
    border-radius: 5px;
  }
}

.usersNewLogin {
  height: 180px;
  width: 345px;
  padding-top: 40px;
  &__frame {
    height: 40px;
    &__btn {
      display: block;
      width: 340px;
      height: 40px;
      border: 2px solid #3ccace;
      background-color: #3ccace;
      border-radius: 5px;
      line-height: 35px;
      text-align: center;
      font-size: 20px;
      color: white;
      text-decoration: none;
    }
  }
}

.usersNewfooter {
  height: 150px;
  background-color: rgba($color: #ebe7e7be, $alpha: 1);
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    margin: Ôºê auto;
    padding: 0px;
    width: 200px;
  }
}

#error_explanation {
  margin: 10px 0px 30px;
  color: red;
  text-align: center;
}
