@import "usersShow/contents";
.index {
  background-color: white;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid;
  border-color: rgba($color: #ebe7e7be, $alpha: 1.0);
  h2 {
    font-size: 20px;
  }
}

.infomation {
  background-color: white;
  .listBtn {
    margin: 6px;
  }
  .productBody {
    color: black;
  }
}

