.new__container {
  background-color: #f8f8f8;
  
  .new__form__container {
    background-color: #fff;
    width: 58%;
    margin: auto;


    .new__image__container {
      padding-bottom: 20px;
      border-bottom: solid 1px #eee;
      .message {
        margin-top: 15px;
        margin-left: 25px
      }
      .post__drop__box__container{
        display: block;
        margin: 16px 18px 0;
        display: flex;
        flex-wrap: wrap;
        
        .label-content{
          margin-bottom: 10px;
          width: 770px;
          .label-box {
            display: block;
            border: 1px dashed #ccc;
            position: relative;
            background: #f5f5f5;
            width: 100%;
            height: 162px;
            cursor: pointer;
            &__text-visible {
              position: absolute;
              top: 50%;
              left: 16px;
              right: 16px;
              text-align: center;
              font-size: 14px;
              line-height: 1.5;
              font-weight: bold;
              -webkit-transform: translate(0, -50%);
              transform: translate(0, -50%);
              pointer-events: none;
              white-space: pre-wrap;
              word-wrap: break-word;
            }
          }
        }
      }
    }


    .new__item__container {
      margin-top: 30px;
      padding-bottom: 50px;
      border-bottom: solid 1px #eee;
      .message {
        margin-top: 20px;
        margin-left: 25px
      }
      .name-box {
        width: 95%;
        height: 50px;
        margin-top: 10px;
        margin-left: 25px;
        padding: 5px;
      }
      .description-box {
        width: 95%;
        height: 120px;
        margin-top: 10px;
        margin-left: 25px;
        padding: 5px;
      }
    }


    .new__details__container {
      margin-top: 30px;
      padding-bottom: 50px;
      border-bottom: solid 1px #eee;
      .message {
        margin-top: 20px;
        margin-left: 25px
      }
      .select-box {
        width: 95%;
        height: 50px;
        margin-top: 10px;
        margin-left: 25px;
        padding: 5px;
      }
      .sell__item-category {
        width: 95%;
        height: 50px;
        margin-top: 10px;
        margin-left: 25px;
        padding: 5px;
      }
    }


    .new__post__container {
      margin-top: 30px;
      padding-bottom: 50px;
      border-bottom: solid 1px #eee;
      .message {
        margin-top: 20px;
        margin-left: 25px
      }
      .select-box {
        width: 95%;
        height: 50px;
        margin-top: 10px;
        margin-left: 25px;
        padding: 5px;
      }
    }


    .new__price__container {
      margin-top: 30px;
      padding-bottom: 50px;
      border-bottom: solid 1px #eee;
      .message {
        margin-top: 20px;
        margin-left: 25px;
      }
      .price-box {
        display: flex;
        justify-content: space-between;
        .message {
          margin-top: 20px;
          margin-left: 25px;
        }
        .price {
          display: flex;
          span {
            font-size: 20px;
            margin-top: 7px;
            margin-right: 7px;
          }
          .price-box {
            width: 250px;
            height: 50px;
            margin-right: 5px;
            text-align: right;
            
          }
        }
      }
    }


    .new__submit__container {
      margin-top: 30px;
      padding-bottom: 50px;
      border-bottom: solid 1px #eee;
      .button {
        display: flex;
        justify-content: center;
        margin-bottom: 10px;

        .finish {
          width: 38%;
          background-color: #3ccAce;
          text-align: center;
          border-radius: 5px;
          a {
            width: 100%;
            background-color:#3ccAce;
            color: #fff;
            height: 50px;
            font-size: 20px;
            font-weight: bold;
          }
        }
      }
      .back {
        text-align: center;
        a {
          text-decoration: none;
          color: #3ccAca;
          text-align: center;
        }
      }
    }


    .new__attention__container {
      margin-top: 30px;
      margin-bottom: 30px;
      
      .message {
        color: black;
        font-size: 13px;
        padding: 5px;
      }
    }
  }
}
