body {
  margin: 0;
  display: flex;
  flex-direction: column;
}

  .usersNewHeader  {
    height: 100px;
    background-color: rgba($color: #ebe7e7be, $alpha: 1.0);
    img{
      display: block;
      margin: 0 auto;
      padding: 30px;
      width: 200px;
    }  
  }

  .layout {
    display: flex;
    flex: 1;
    h1 {
      font-size: 22px;
      font-weight: bold;
      text-align: center;
      padding: 20px;
      border-bottom: 2px solid #ebe7e7be;
    }
    &__center{
      flex: 1;
      font-size: 15px;
      .center__content {
        width: 360px;
        height: 750px;
        margin:0 10px;
      }
    }
    &__left {
      width: 400px;
      background-color: rgba($color: #ebe7e7be, $alpha: 1.0);
    }
    &__right {
      width: 400px;
      background-color: rgba($color: #ebe7e7be, $alpha: 1.0);
    }
  }

  .sign__label {
    width: 340px;
    padding-top: 20px;
    &__head {
      height: 30px;
      width: 50px;
      font-weight: bold;
    }
    &__required {
      background-color: rgba($color: #e91212, $alpha: 1.0);
      color: rgba($color: white, $alpha: 1.0);
      text-align: center;
      border-radius: 5px;
      padding: 5px;
    }
  }


  .form {
    height: 50px;
    width: 340px;
    padding-top: 10px;
    display: flex;
    &__defalt {
      width: 340px;
      height: 40px;
      border: 2px solid #ebe7e7be;
      border-radius: 5px;
      padding-left: 10px;
    }
    &__half {
      width: 170px;
      height: 40px;
      border: 2px solid #ebe7e7be;
      border-radius: 5px;
      padding-left: 10px;
    }
  }


  .select {
    height: 40px;
    width: 340px;
    padding-top: 10px;
    display: flex;
    &__defalt {
      width: 80px;
      height: 40px;
      border: 2px solid #ebe7e7be;
      border-radius: 5px;
    }
    &__half {
      width: 40px;
      height: 40px;
      border: 2px solid #ebe7e7be;
      border-radius: 5px;
    }
    &__name {
      padding: 10px;
    }
  }

  .login {
    height: 180px;
    width: 345px;
    padding-top: 10px;
    &__frame {
      height: 40px;
      &__btn {
        display: block;
        width: 340px;
        height: 40px;
        border: 2px solid #3CCACE;
        background-color: #3CCACE;;
        border-radius: 5px;
        margin: 0 auto;
        text-align: center;
        font-size: 20px;
        color: white;
        text-decoration: none;
      }
    }
  }

  .usersNewfooter {
    height: 150px;
    background-color: rgba($color: #ebe7e7be, $alpha: 1.0);
    img{
      display: block;
      margin: 0 auto;
      padding: 50px;
      width: 200px;
    }
  }