.sighIn_up_logout-flash {
  .notice {
    background-color: #3ccace;
    color: white;
    text-align: center;
  }

  .alert {
    background-color: lightsalmon;
    color: white;
    text-align: center;
  }
}
